# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/

# Build files
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db